/* This parent can be any width and height */
.block {
  text-align: center;
}
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
/* Adjusts for spacing */
}
/* The element to be centered, can
   also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 640px;
}
body {
  font-family: Helvetica, sans-serif;
}
#viewport {
  background: #eee;
  height: 320px;
  margin-top: 50px;
  outline: #f00;
  overflow: hidden;
  position: relative;
  width: 640px;
}
div.curtain {
  background: url("bc1.jpg") 0 0;
  height: inherit;
/*opacity: .5;*/
  position: absolute;
  top: 0;
  width: 100%;
}
div.curtain.left {
  left: -50%;
  -webkit-animation-name: open-left;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
}
div.curtain.right {
  background: url("bc1-r.jpg") 100% 0;
  right: -50%;
  -webkit-animation-name: open-right;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
}
div.curtain-inner {
  background: #f00;
  height: inherit;
  width: 50px;
  z-index: 10;
}
div.curtain-inner.left {
  background: #f00;
/*url(bc1.jpg) 20%*/
  float: right;
  opacity: 0.5;
  -webkit-transform: translateX(50px);
}
div.curtain-inner.right {
  float: left;
}
/*div.curtain.left.open {
  left: -50%;
}
div.curtain.right.open {
  right: -50%;
}*/
@-webkit-keyframes open-left {
  0% {
    left: -50%;
    -webkit-transform: skew(0deg);
  }

  7% {
    -webkit-transform: skew(10deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  15% {
    -webkit-transform: skew(21deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  33% {
    -webkit-transform: skew(18deg);
  }

  75% {
    -webkit-transform: skew(13deg);
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    left: -108%;
    -webkit-transform: skew(-3deg);
    -webkit-animation-timing-function: ease-out;
  }
}
@-webkit-keyframes open-right {
  0% {
    right: -50%;
    -webkit-transform: skew(0deg);
  }

  7% {
    -webkit-transform: skew(-10deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  15% {
    -webkit-transform: skew(-21deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  33% {
    -webkit-transform: skew(-18deg);
  }

  75% {
    -webkit-transform: skew(-13deg);
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    right: -108%;
    -webkit-transform: skew(-3deg);
    -webkit-animation-timing-function: ease-out;
  }
}
