#nav-toggle {
  background: #f00;
  display: block;
  height: 16px;
  text-indent: -999em;
  width: 16px;
}
#content-wrap {
  background: #eee;
  width: 100%;
}
#side-nav {
  background: #000;
  color: #fff;
  height: 100%;
  width: 150px;
}
